@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
}
.app{
  display: flex;
  min-height: 100vh;
}
.sidebar{
  width: 250px;
  height: 100vh;
  overflow: hidden;
}

.sidebar:hover{
  overflow-y: scroll;
}
.content{
  flex-grow: 1;
}
.userimage{
  border-radius: 50%;
}
a{
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background:transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.609);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


@media only screen and (max-width:992px) {
  .sidebar{
    transition: all 0.5s;
    position: fixed;
    width: 260px;
    height: 100vh;
    transform: translate(-310px);
  }
}